{% extends '::baseF.html.twig' %}
{% block body %}

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div >

                    <div class="cta-inner text-center rounded"  >


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <h2 class="section-heading mb-5">
                            <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blended to Perfection</font></font></span>
                            <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coffees &amp; Teas</font></font></span>
                        </h2>
                    </div>
                </div>
                        </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ asset('front/img/meuble1.jpg') }}" alt="">
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</p>
                    </div>
                    <div class="row">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blended to Perfection</font></font></span>
                                <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coffees &amp; Teas</font></font></span>
                            </h2>
                        </div>
                    </div>
                        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ asset('front/img/meuble2.jpg') }}" alt="">
                        <div class="product-item-description d-flex mr-auto">
                            <div class="bg-faded p-5 rounded">
                                <p class="mb-0">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</p>
                            </div>

                        </div>

            </div>
        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>




{% endblock %}