<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>symfony"
    </title>
    <body>
<h1>my first page</h1>
</body>
</head>
</html>